body {
    font-family : 'Hind', sans-serif;
    font-size   : 15px;
    line-height : 1.8em;
    color       : #3d3d50;
    font-weight : 300;
    background  : #ffffff;
    text-align: center;
}

.blocks {
    box-sizing : border-box;
    text-align : center;
    overflow   : hidden;
    position   : absolute;
    background  : #ffffff;
    height: 100%;
    width: 100%;
}

.center{
    position:absolute;
    width:400px;
    height:250px;
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-125px;
}

.wrapper{
    width:100%;
    top: 50%;
    left: 50%;
    text-align:center;
}