input.form-control {
    margin-bottom: 5px;
}
div.row {
    margin-bottom: 5px;
}
body {
    padding-top: 60px;
    font-family: Arial;
}
@media (max-width: 979px) {
    body {
        padding-top: 60px;
    }
}
.backcolor-blue{
    background-color: #4babff;
}
.color-blue{
    color: #4babff;
}
