<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid backcolor-blue">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header color-blue">
            <a class="navbar-brand" href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="row container center">
    <ul class="list-group">
        <li class="list-group-item">
            <a ng-click="model.createHeader()"
               class="navbar-link color-blue">Header</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="navbar-link color-blue">Label</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="navbar-link color-blue">HTML</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="navbar-link color-blue">Text Input</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="navbar-link color-blue">Link</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="navbar-link color-blue">Button</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createImage()" class="navbar-link color-blue">Image</a>
        </li>
        <li class="list-group-item">
            <a  ng-click="model.createYoutube()" class="navbar-link color-blue">Youtube</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="navbar-link color-blue">Data Table</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="navbar-link color-blue">Repeater</a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom backcolor-blue">
    <div class="navbar-text pull-right wbdv-margin-right-15">
        <a href="#/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>