<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid backcolor-blue">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text wbdv-margin-right-15 pull-right">
            <a href="#/user/{{model.userId}}/website/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header color-blue">
            <a class="navbar-brand" href="#">
                Websites
            </a>
        </div>
    </div>
</nav>

<div class="row container center">
    <ul class="list-group">
        <li ng-repeat = "website in model.websites" class="list-group-item">
            <a href="#/user/{{website.developerId}}/website/{{website._id}}/page" class="navbar-link color-blue">{{website.name}}</a>
            <a href="#/user/{{website.developerId}}/website/{{website._id}}" class="navbar-link pull-right">
                <span class="glyphicon glyphicon-cog color-blue"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom backcolor-blue">
    <div class="navbar-text pull-right wbdv-margin-right-15">
        <a href="#/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>