<div class="container">
    <h1>Image Edit</h1>
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.image.url"
                   type="url"
                   class="form-control"
                   id="url"
                   placeholder="https://www.gitavatar.com/hshah8831.jpeg">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input name="width"
                   ng-model="model.widget.image.width"
                   type="number"
                   class="form-control"
                   id="width"
                   placeholder="100">
        </div>
        <div class="form-group">
            <label for="upload">Upload</label>
            <input name="file"
                   file-input="model.files"
                   type="file"
                   class="form-control file"
                   data-show-preview="false"
                   id="upload">
        </div>
    </form>
    <a class="btn btn-primary  btn-block" href="../widget-flickr-search.view.client.html">Search Image</a>
    <a ng-click="model.fileUpload()"
       class="btn btn-primary  btn-block" href="">Upload Image</a>
    <a class="btn btn-danger  btn-block"
       ng-click="model.delete(model.widgetId)"
       href="#">Delete</a>
</div>