<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid backcolor-blue">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text wbdv-margin-right-15  pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header color-blue">
            <a class="navbar-brand" href="#">
                Pages
            </a>
        </div>
    </div>
</nav>

<div class="row container center">
    <ul class="list-group">
        <li ng-repeat = "page in model.pages" class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{page.websiteId}}/page/{{page._id}}/widget"
               class="navbar-link color-blue">
                {{page.name}}
            </a>
            <a href="#/user/{{model.userId}}/website/{{page.websiteId}}/page/{{page._id}}"
               class="navbar-link pull-right">
                <span class="glyphicon glyphicon-cog color-blue"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom backcolor-blue">
    <div class="navbar-text pull-right wbdv-margin-right-15">
        <a href="#/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>